.one {
  background-color: red;
  width: 100%;
  height: 700px;
}

.two {
  position: relative;
  top: 100px;
  left: 100px;
  background-color: blue;
  width: 200px;
  height: 100px;
  color: white;

}

.two h1 {
  text-align: center;
  line-height: 100px;
}

body {

}
